@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap");

html,
h1,
h2,
h3,
h4,
h5,
a,
span,
li,
ul {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  color: #2d4059;
}

div.navbar-collapse a:hover {
  text-decoration: none;
}

button.custom-toggler {
  border: none;
}
button.custom-toggler .navbar-toggler-icon {
  background-image: url("images/toggler-icon.svg");
  width: 45px;
  height: 45px;
}

.navbar ul {
  color: #fff;
}
/* nav a.navbar-brand.text-main {
  background: linear-gradient(90.14deg, #e55d87 -1.13%, #5fc3e4 58.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
